.checkoutProduct {
  display: flex;
  margin: 20px 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 550px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info button {
  background: deeppink;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  outline: none;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
